<div class="row">
    <div class="two wide column"></div>
    <div class="four wide column">
        <div class="ui fluid image">
            <div class="ui bottom right attached label" id="imgCooks">14.2K <i class="food icon"></i></div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=Popular1&h=200&w=300">
        </div>
        <div class="ui fluid image">
            <div class="ui bottom right attached label" id="imgCooks">3K <i class="food icon"></i></div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=Popular2&h=200&w=300">
        </div>
    </div>
    <div class="eight wide column">
        <div id="featured-slider">
			<div><a href="/recipes/recipe/addi-gucci"><img src="/Images/recipes/15302274_611440722361055_1641344585_o.jpg" width="100%"></a></div>
			<div><a href="/recipes/recipe/gucci-ipad"><img src="/Images/recipes/14724097_585214541650340_1250244689_o.jpg" width="100%"></a></div>
  	    </div>
    </div>
</div>