<div class="row">
    <div class="two wide column"></div>
    <div class="four wide column">
        <div class="ui fluid image">
            <div class="ui bottom right attached label" id="imgCooks">14.2K <i class="food icon"></i></div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=Popular1&h=200&w=300">
        </div>
        <div class="ui fluid image">
            <div class="ui bottom right attached label" id="imgCooks">3K <i class="food icon"></i></div>
            <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=Popular2&h=200&w=300">
        </div>
    </div>
    <div class="eight wide column">
        <div id="featured-slider">
			<div><a href="/recipes/recipe/addi-gucci"><img src="/Images/recipes/upload_2393516bde0cacd17a7424d0591d2209.jpg" width="100%"></a></div>
			<div><a href="/recipes/recipe/gucci-ipad"><img src="/Images/recipes/upload_adde3ba74640925db3bb9352e38e3e97.jpg" width="100%"></a></div>
  	    </div>
    </div>
</div>