<!DOCTYPE html>
<html>

<head>
  <title>Dexter Chef</title>

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="semantic/dist/semantic.min.js"></script>

</head>

<body>
  <div class="ui secondary pointing menu" >
    <a href="Index.html">
 <img src="Images/DexterChefLogo.jpg" height="66.9357" width="229.275">
 </a>
  <a class="item" href="Index.Html">
    Home
  </a>
  <a class="active item" href="Recipes.Html">
    Recipes
  </a>
  <div class="right menu">
    <a class="ui item">
      Login | Sign Up
    </a>
  </div>
</div>
  <p></p>
</div>

<center><img src="images/Pasta.jpg" width="561.666665" height="419.833333"></center>

<hr color="9E7B57" noshade>
<center><h2> Description </h2></center>
<center><font size="4"> This recipe is a...</font></center>
<hr color="9E7B57" noshade>

<font size="5"><b> Ingredients: </b></font><br>
<br><font size="4"> 2 Eggs <br> 300 g. Bacon <br> 500 g. Pasta <br> 1 Tomato</font>


</body>

</html>